<!--Userの部分テンプレート記述-->
<!-- ユーザーの詳細 -->
  <h2>User info</h2>
  <!--ログイン中のユーザーIDを取得し、関数を呼び出す-->
  <%= image_tag user.get_profile_image(100, 100)%>
  <table class="table">
    <tbody><tr></tr>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
    </tbody>
  </table>

<!--ユーザー設定に遷移するボタン-->
<div class="row">
   <%= link_to edit_user_path(user.id), class:"btn btn-outline-secondary btn-block" do %>
     <i class="fa-solid fa-user-gear"></i>
   <% end %>
</div>

<h2 class="mt-3">New book</h2>
<%= form_with model: book do |form| %>
  <!-- フォームの内容 -->
  <div><%= form.text_field :title %></div>
  <div><%= form.text_area :body %></div>
  <div><%= form.submit %></div>
<% end %>

<!--</form>-->